h1, h2, h3{
    color: #5C200C; 
    margin-bottom: 10px;
    margin-top: 30px;
}

h1{
    margin-top: 17%;
    font-size: 50px;
}

.citacao{
    border: #0E0502 groove 1px;
    background-color: #D3D3D3;
    text-align: center;
    margin: 30px 15px 20px;
    padding: 20px;
    font-style: italic;
    font-size: 1.1rem;
    color: #333;
}
.citacao p{
    margin-left: 20px;
    margin-right: 20px;
}

ul {
    margin: 20px 0;
    padding-left: 20px;
}

ul li {
    margin-bottom: 10px;
}

section p {
    margin-bottom: 20px;
    text-align: justify; 
}

h6 {
    margin-top: 30px;
    font-size: 0.9rem;
    color: #5C200C;
    text-align: left;
}

.links-secao {
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    justify-content: left;
    list-style: none; 
    padding: 0;
    margin: 20px 0;
    background-color: #cbad69; 
    border-radius: 10px;
    box-shadow: 0px 4px 6px -2px rgba(0, 0, 0, 0.2); 
}

.links-secao strong {
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.links-secao li {
    margin: 0 15px; 
}

.links-secao li a {
    text-decoration: none;
    color: #260B01;
    font-weight: bold;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
}

.links-secao li a:hover {
    background-color: #4F5045;
    border-radius: 8px;
    color: #EDEDED;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    max-width: 100%;
    padding-right: 30px;
}

#img-lado1{
    float: left;
    margin-left: 5px;
    height: 250px;
    width: 210px;
    margin-top: 3px;
}

#img-baixo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 750px;
    height: 430px;
}

#img-lado2{
    float: center;
    margin-left: 5px;
    height: 250px;
    width: 300px;
    margin-top: 10px;
}

#img-baixo2{
    float: right;
    margin-right: 10px;
    width: 380px;
    height: 400px;
    margin-left: 20px;
}

#img-centro1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 550px;
    height: 400px;
}

section{
    padding-bottom: 10px;
}