*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding: 80px;
}

body{ 
    background-color: #D9C8A9;
    font-family: 'Georgia'; 
    color: #3E2723;
    line-height: 1.6;
    margin-left: 150px; 
    margin-right: 150px; 
}

header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
}

#top-header{
    font-size: 30px;
    color: #5C200C;
    background-color: #cbad69;
    padding: 15px;
    padding-left: 35px;
}

#bottom-header{
    margin-top: 0;
    background-color: #52281c;
    font-family: Impact;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.menu{
    display: inline-block;
    margin-left: 20px; 
}

.menu a{
    color: #FEFDF2;
    margin: 0 15px;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    transition: color 0.3s ease;
}

.menu a:hover{
    color: #FFD700;
}