*{
    margin: 0;
    padding: 0;
}

body{ 
    background-color: #D9C8A9;
    font-family: 'Georgia'; 
    color: #3E2723;
    line-height: 1.6;
    margin-left: 150px; 
    margin-right: 150px; 
}

header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
}

#top-header{
    font-size: 30px;
    color: #cbad69;
    padding-left: 20px;
    padding-right: 20px;
}

#bottom-header{
    margin-top: 0;
    background-color: #5C200C;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu{
    display: inline-block;
    margin-left: 0 20px; 
    padding: 20px 15px;
}

.menu a{
    color: #FEFDF2;
    margin: 0 5px;
    text-align: center;
    text-decoration: none;
    transition: color 0.3s ease;
}

.menu a:hover{
    color: #cbad69;
}

#narrator{
    margin-top: 10%;
    display: flex;
    justify-content: center;
}

#narrator img{
    width: 12px;
    padding-right: 25px;
}

#narrator p{
    padding-top: 20px;
    padding-left: 10px;
    text-align: justify;
    font-size: large;
}

h1{
    text-align: center;
    margin-top: 8%;
    font-size: 50px;
    color: #5C200C;
}

#articles{
    display: flex;
    justify-content: center;
    gap: 50px;
}

.article{
    margin-top: 10px;
}

.article a{
    text-decoration: none;
    color: #260B01;
}

.article a:hover{
    color: #5c200cc9;
}

footer{
    background-color: #5C200C;
    color: #FEFDF2;
    padding: 20px;
    text-align: center;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 15px;
}

.footer-links a {
    text-decoration: none;
    color: #cbad69;
    font-size: 14px;
}

.footer-links a:hover {
    color: #fefdf2;
}

.bottom-footer{
    font-size: 12px;
    margin-top: 10px;
    color: #cbad69;
}
#narrador{
    float: right;
    margin-left: 10px;
    margin-top: -60px;
    width: 400px;
    height: 380px;
    margin-bottom:30px;  
}
#data {
    padding-bottom: 50px;
}