*{
    margin: 0;
    padding: 0;
}

body{ 
    background-color: #D9C8A9;
    font-family: 'Georgia'; 
    color: #3E2723;
    line-height: 1.6;
    margin-left: 150px; 
    margin-right: 150px; 
}

header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
}

#top-header{
    font-size: 30px;
    color: #cbad69;
    background-color: #5C200C;
    padding: 20px;
    justify-content: center;
    display: flex;
}

#bottom-header{
    margin-top: 0;
    background-color: #5C200C;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.menu{
    display: inline-block;
    margin-left: 20px; 
}

.menu a{
    color: #FEFDF2;
    margin: 0 15px;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    transition: color 0.3s ease;
}

.menu a:hover{
    color: #cbad69;
}

h1{
    text-align: center;
    margin-top: 12%;
    font-size: 50px;
    color: #5C200C;
}

#articles{
    margin: 40px;
    margin-top: 70px;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.article{
    margin-top: 17%;
}

.article a{
    text-decoration: none;
    color: #260B01;
}

.article a:hover{
    color: #5c200cc9;
}

/* footer{
    text-align: center;
    font-size: 15px;
    color: #FEFDF2;
    background-color: #52281c;
    padding: 10px;
} */