html, body {
    margin: 0;
    padding: 0;
    z-index: 0;
    box-sizing: border-box;
    scroll-padding: 80px;
}
body {
    background-color: #D9C8A9;
    font-family: 'Georgia', serif; 
    color: #3E2723;
    padding: 20px;
    line-height: 1.6;
    margin-left: 150px; 
    margin-right: 150px; 
}
.topo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #5C200C;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    z-index: 1;
    margin: 0;
    box-shadow: 0px 4px 2px -2px gray;
}
.menu {
    display: inline-block;
    list-style: none;
    margin-left: 20px; 
}

.menu a {
    color: #E0CCAB;
    margin: 0 15px;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    transition: color 0.3s ease;
}
.menu a:hover {
    color: #FFD700;
}
.citacao {
    border: #0E0502 groove 1px;
    background-color: #D3D3D3;
    text-align: center;
    margin: 80px 15px 20px;
    padding: 20px;
    font-style: italic;
    font-size: 1.1rem;
    color: #333;
}
h2, h3 {
    color: #5C200C; 
    margin-bottom: 10px;
}

ul {
    margin: 20px 0;
    padding-left: 20px;
}

ul li {
    margin-bottom: 10px;
}

section p {
    margin-bottom: 20px;
    text-align: justify; 
}

h6 {
    margin-top: 30px;
    font-size: 0.9rem;
    color: #5C200C;
    text-align: right;
}

.links-secao {
    display: flex; 
    justify-content: center;
    list-style: none; 
    padding: 0;
    margin: 20px 0;
    background-color: #cbad69; 
    border-radius: 10px;
    box-shadow: 0px 4px 6px -2px rgba(0, 0, 0, 0.2); 
}

.links-secao li {
    margin: 0 15px; 
}

.links-secao li a {
    text-decoration: none;
    color: #260B01;
    font-weight: bold;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
}

.links-secao li a:hover {
    background-color: #D9C8A9;
    border-radius: 5px;
}
img{
    height: 500px;
    width: 400px;
}
.citacao, section {
    margin-left: 0; 
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

section p, h2, h3, ul, li {
    margin-left: 0;
    margin-right: 0;
}